* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('calculator.avif') no-repeat center center/cover;
}

.calculator {
    width: 350px;
    padding: 40px;
    border-radius: 30px;
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #141414, -10px -10px 20px #282828;
}

.display {
    width: 100%;
    padding: 15px;
    text-align: right;
    font-size: 2rem;
    color: white;
    background: #333;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background: #262626;
    border: none;
    border-radius: 50px;
    box-shadow: inset -5px -5px 10px #1a1a1a, inset 5px 5px 10px #2e2e2e;
    cursor: pointer;
    transition: 0.2s;
}

.btn:active {
    box-shadow: inset 5px 5px 10px #1a1a1a, inset -5px -5px 10px #2e2e2e;
}

.operator {
    color: lightgreen;
}

.action {
    color: #ff5722;
}

.equal {
    background: rgb(245, 162, 9);
    color: white;
}
